// COLORS
$color-primary-neutral: #edaa86;
$color-primary-grey: #c2877b;
$color-primary: #ff6f61;
$color-primary-dark: #7e392f;

$color-secondary-light: #f8a39d;
$color-secondary-bright: #ea6676;
$color-secondary-neutral: #cca67f;
$color-secondary-lightest: #d8b998;

$color-tertiary-light: #ffda29;
$color-tertiary-dark: #fc9e21;
$color-quaternary-light: #99dedf;
$color-quaternary-dark: #2b9597;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
// $color-grey-1: #f5e9e2;
$color-grey-1: #fcf5f0;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem; //6rem
